:root{
    --nav1: #1F3A56;
    --nav2: #004e92;
	--btn: #f4b400;
--icon: #f4b400;
	--head: #0c0c0c;
}

.heroimg{
    /* background-image: url("./assets/1-Mercedes-A-Class.jpg") ; */
    background:
linear-gradient(135deg, rgba(35,37,38,0.6), rgba(65,67,69,0.6)),
    url("./assets/1-Mercedes-A-Class.jpg");
    height: 650px;
    background-position: center center;
    background-size: cover;
    
}
.heading h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.heading1 h4{
    font-weight: bold;
    color: var(--btn);
}

.herocontent{
    width: 100%;
    
  
    /* padding: 20px ; */
}


.button2{
    width: 160px;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}

.icon{
    font-size: 10px;
}


/* section 1 */

.mycontainer{
    padding-top: 80px;
}


/* content2 */

.content2Head{
    font-size: 25px;
    font-weight: bold;
    color: var(--head);
}

.Content2icon,.myicon2{
    font-size: 25px;
}

.myicon2{
    background-color: var(--btn);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.mycontent{
    background-color: var(--nav1);
}




@media (max-width: 768px) {
    
    .heading h1{
        font-size: 40px;
        
    }
   
}