:root{
    --nav1: #1A1A1A;
    --nav2: #2D3436;
	--btn: #636E72;
--icon: #636E72;
	--head: #0c0c0c;
}
 .nav-link{
	padding-bottom: 2px;
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-left: 20px;
	
 }
.nav-link:hover{
	border-bottom: 1px solid white;
color: white !important;
transition: all ease 0.8s;
}

.user_box_login{
	border-bottom: none !important;
}



.heroimg{
   


  background:
linear-gradient(135deg, rgba(35,37,38,0.6), rgba(65,67,69,0.6)),
    url("./assets/sightseeing.jpg");
    height: 650px;
    background-position:top center;
    background-size: cover;
    
}


.herocontent{
    width: 40%;
   
    border-radius: 50px;
    padding: 20px ;
    /* position: absolute;
    bottom: 80px; */
}

.heading h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.heading1 h4{
    font-weight: bold;
    color: white;
}
.herobtn{
    padding: 14px 40px;
	border: none;
	color: black;
	background-color: white;
border-radius: 5px;
	font-weight: bold;
font-size: 17px;
text-transform: uppercase;
}











.icon{
    font-size: 10px;
}


/* section 1 */

.mycontainer{
    padding-top: 80px;
}


/* content2 */

.content2Head{
    font-size: 25px;
    font-weight: bold;
    color: var(--head);
}

.Content2icon{
    font-size: 20px;
    background-color: var(--icon);
    border-radius: 50%;
     width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content2icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.myicon2{
    font-size: 20px;
    background-color: var(--btn);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
}

.mycontent{
    background-color: var(--nav1);
    border-radius: 13px;
}

.Sec1Para{
    font-size: large;
}


/* contact us */

.contact-us{
    color: white;
}


/* included */



.sight-sec{
    background-color: #F5F5F5
}
.sight-head1{
    color: black;
    letter-spacing: 0.2em;
    font-size: 18px;
    
}
.sight-head2{
    font-weight: bold;
}
.head-edit{
    color: var(--nav1);
   
}
.card-1{
    border-radius: 15px;
}
.card-1:hover{
    
    background-color: var(--nav2)!important;
    transition: all 0.5s ease;
    color: white !important;
}


/* card section */




.sighthead h2{
    font-size: 35px;
    text-transform: capitalize;
    

}

.editPara{
    font-size: 15px;
    font-weight: bold;
    color: var(--nav1);
}
.imgsection img{
    border-radius: 20px;
}



/* explore */
.explore{
    background-color: #F5F5F5;
}

.cards{
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    
}

.card-2 h3{
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}
.card-2{
    margin-bottom: 30px;
    color: var(--nav1);
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

.img-sec img{
    border-radius: 10px;
    margin-bottom: 17px;
}

.content-sec3 button{
     padding: 6px 20px;
	border: none;
	color: white;
	background-color: black;
border-radius: 5px;
	font-weight: bold;
font-size: 13px;
text-transform: uppercase;
}

.edit-para1{
    font-weight: bold;
    color: var(--nav1);
    margin-right: 5px;
}

.card-2:hover{
    border: 2px solid grey;
}









@media (min-width:996px ) and (max-width: 1120px) {
   .content-sec3 button{
    padding: 4px 17px;
    font-size: 10px;
   } 
   .card-2 h3{
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
}
}


@media (max-width:996px) {
    .nav-link:hover{
    border-bottom: none;
    color: grey!important;
  }
  .cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
    
    .heading h1{
        font-size: 40px;
        
    }
     .footSec1,.footSec2,.footSec3{
	border-bottom: 1px solid grey;
	
  }
  .sight-cards{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

   .herobtn{
font-size: 13px;
padding: 10px 20px;
width: 100%;
  }
  .herocontent{
    width: 100% !important;
    text-align: center;
  }
  .heroimg{
    justify-content: end!important;
  }
   .cards{
    grid-template-columns: 1fr;
  }
  
   

  


   
}


@media (max-width:576px) {
    .sight-cards{
    display: grid !important;
    grid-template-columns: 1fr ;
  }
  .cards{
    grid-template-columns: 1fr;
  }
   
}
