:root{
    --nav1: #1A1A1A;
    --nav2: #2D3436;
	--btn: #636E72;
--icon: #636E72;
	--head: #0c0c0c;
}
 .nav-link{
	padding-bottom: 2px;
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-left: 20px;
	
 }
.nav-link:hover{
	border-bottom: 1px solid white;
color: white !important;
transition: all ease 0.8s;
}

.user_box_login{
	border-bottom: none !important;
}


.heroimg{
   background:  linear-gradient(135deg, rgba(35,37,38,0.6), rgba(65,67,69,0.6)),
    url("./assets/station.jpg");
    height: 650px;
    background-position:center center;
    background-size: cover;
}
.heading h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.heading1 h4{
    font-weight: bold;
    color: white;
}

.herocontent{
    width: 100%;
    
  
    /* padding: 20px ; */
}

.herobtn{
    padding: 14px 40px;
	border: none;
	color: black;
	background-color: white;
border-radius: 5px;
	font-weight: bold;
font-size: 17px;
text-transform: uppercase;
}


 

.icon{
    font-size: 10px;
}


/* section 1 */

.mycontainer{
    padding-top: 80px;
}


/* content2 */

.content2Head{
    font-size: 25px;
    font-weight: bold;
    color: var(--head);
}

.Content2icon{
    font-size: 20px;
    background-color: var(--icon);
    border-radius: 50%;
     width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .Content2icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
} */

.myicon2{
    font-size: 20px;
    background-color: var(--btn);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
}

.mycontent{
    background-color: var(--nav1);
    border-radius: 13px;
}


/* station section */


.station-sec{
    background-color: #F5F5F5
}
.station-head1{
    color: black;
    letter-spacing: 0.2em;
    font-size: 18px;
    
}
.station-head2{
    font-weight: bold;
}
.head-edit{
    color: var(--nav1);
   
}
.card-1{
    border-radius: 15px;
}
.card-1:hover{
    
    background-color: var(--nav2)!important;
    transition: all 0.5s ease;
    color: white !important;
}

/* coverage */

.coverage-sec{
    
    background-color: #dbd7d7;
}


@media (max-width:996px) {
    .nav-link:hover{
    border-bottom: none;
    color: grey!important;
  }
}


@media (max-width: 768px) {
    
    .heading h1{
        font-size: 40px;
        
    }
     .footSec1,.footSec2,.footSec3{
	border-bottom: 1px solid grey;
	
  }
    .station-cards{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .herobtn{
font-size: 13px;
padding: 10px 20px;
width: 100%;
  }
  .herocontent{
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px;
  }
  .heroimg{
    justify-content: end!important;
  }
   


}


@media (max-width:576px) {
    .station-cards{
    display: grid !important;
    grid-template-columns: 1fr ;
  }
}