
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

:root{
    --nav1: #1A1A1A;
    --nav2: #2D3436;
	--btn: #636E72;
--icon: #636E72;
	--head: #0c0c0c;

	--button: black;
}


*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

button:hover{
	opacity:0.8
}

.Mybtn{
	padding: 14px 50px;
	border: none;
	color: black;
	background-color: white;
border-radius: 5px;
	font-weight: bold;
font-size: 17px;
}
.drivebtn  button{
	padding: 14px 50px;
	border: none;
	color: white;
	background-color: var(--button);
border-radius: 5px;
	font-weight: bold;
font-size: 17px;


}
/* p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
} */
 .nav-link{
	padding-bottom: 2px;
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-left: 25px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	/* letter-spacing: 0.8px; */
 }
.nav-link:hover{
	border-bottom: 1px solid white;
color: white !important;
transition: all ease 0.8s;
}

.user_box_login{
	border-bottom: none !important;
}

p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 17px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-transform: uppercase;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	display: inline-block;
	height: 53px;
	border-radius: 27px;
	overflow: hidden;
}
.button_bcg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover .button_bcg
{
	left: -100%;
}
.button a
{
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	white-space: nowrap;
	z-index: 2;
}
.button span
{
	display: inline-block;
	vertical-align: middle;
	width: 5.75px;
	height: 5.63px;
	background: #FFFFFF;
	border-radius: 50%;
	margin-right: 2px;
}
.button span:first-child
{
	margin-left: 10px;
}
.button span:nth-child(2)
{
	opacity: 0.6;
}
.button span:last-child
{
	opacity: 0.4;
	margin-right: 0px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	width: 100%;
	
	z-index: 12;
}
.header.scrolled
{
	background-color: var(--nav2);
}


/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	height: 36px;
	background: var(--nav1);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.social_list{
    color: white;
	
}
.social_list i{
	margin-left: 25px;
}
.social_list i:hover{
	opacity: 0.8;
}

.user_box{
    margin-left: auto;
}

.header.scrolled .top_bar
{
	visibility: hidden;
	opacity: 0;
	height: 0px;
}

.phone
{
	display: inline-block;
	margin-right: 36px;
	line-height: 36px;
	font-size: 10px;
	font-weight: 600;
	color: #FFFFFF;
}
.social_list_item
{
	position: relative;
	display: inline-block;
	margin-right: 3px;
}
.social_list_item:last-child
{
	margin-right: 0px;
}
.social_list_item a
{
	display: block;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
}
/* .social_list_item:hover a i
{
	color: #fa9e1c;
} */
.social_list_item a i
{
	font-size: 12px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_list_item a:hover
{
	color: #FFFFFF;
}
.user_box_link
{
	display: inline-block;
}
.user_box_link a
{
	text-decoration: none;
	display: block;
	font-size: 10px;
	line-height: 36px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
}
.user_box_link a:hover
{
	/* color: #fa9e1c; */
}
.user_box_login
{
	margin-right: 15px;
}
.user_box_login::after
{
	display: block;
	position: absolute;
	top: 15px;
	right: -9px;
	background: #FFFFFF;
	width: 1px;
	height: 9px;
	content: '';
}

.main_nav{
    background-color: var(--nav2);
    font-size: 13px;
    
}

.nav-form input{

    width: 150px;
    font-size: 12px;
  

}

.main_nav a {
color: white ;
}

.navbar-toggler-icon{
    color: white !important
}


.main_nav_col
{
	height: 143px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .main_nav_col
{
	height: 100px;
}

.navbar-toggler-icon{
	background-image: url("./assets/toggle.png");
	
}

.navbar-toggler{
	border: none;
}

/*********************************
3.2 Logo
*********************************/

.logo_container
{
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.header.scrolled .logo_container
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.logo a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #f4f4f8;
	font-weight: 800;
	text-transform: uppercase;
}
.logo a img
{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 9px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

/*********************************
3.3 Main Nav
*********************************/

.main_nav{
    background-color: var(--nav2);
}

.main_nav_container
{
	margin-right: 221px;
}
.main_nav_item
{
	position: relative;
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
}
.main_nav_item::after
{
	display: block;
	position: absolute;
	left: -1px;
	bottom: -11px;
	width: calc(100% + 2px);
	height: 2px;
	background: linear-gradient(to right, #fa9e1b, #8d4fff);
	content: '';
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item:hover::after
{
	opacity: 1;
}
.content_search
{
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
	cursor: pointer;
}
.header.scrolled .content_search
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.mag_glass
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.content_search img
{
	width: 17px;
	height: 17px;
}
.content_search:hover .mag_glass
{
	fill: #fa9e1c;
}
.search_form
{
	position: absolute;
	right: 15px;
	top: 120px;
	width: 237px;
	height: 40px;
	visibility: hidden;
	opacity: 0;
}
.search_form.active
{
	top: 105px;
	visibility: visible;
	opacity: 1;
}
.search_content_input
{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	color: #1b0b32;
	padding-left: 20px;
	outline: none !important;
	border: none !important;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
.bez_1
{
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}



/* hero section */


/* .heroimg{

    background-image: url("./assets/becoming-the-hero-of-your-travel-story-embracing-the`-journe.jpeg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.carousel{
    height: 500px;
}
.hero-section {
  height: 85vh;
  min-height: 500px;
  max-height: 800px;
}



.carousel-image-container {
  height: 100%;
  width: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}







/*********************************
4.3 Home Slider Dots
*********************************/

.home_slider_dots
{
	position: absolute;
	right: 50px;
	bottom: 45px;
	z-index: 10;
}
.home_slider_custom_dots
{

}
.home_slider_custom_dot
{
	display: inline-block;
	position: relative;
	height: 35px;
	line-height: 35px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dot:hover
{
	color: #fa9e1c;
}
.home_slider_custom_dot:hover.active div
{
	border-color: #fa9e1c;
}
.home_slider_custom_dot.active
{
	padding-left: 13px;
	padding-right: 9px;
	margin-right: 3px;
}
.home_slider_custom_dot div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px transparent;
	border-radius: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dot.active div
{
	border: solid 2px #FFFFFF;
}

.dropdown-item{
	font-size: 13px;
}

.dropdown-item:active{
	background-color: black !important;
	color: white !important;
}

/*********************************
5. Search
*********************************/

/* .search
{
	width: 100%;
	height: 192px;
	background: linear-gradient(to right, #fa9e1b, #8d4fff);
	z-index: 10;
}
.search_tabs_container
{
	position: absolute;
	bottom: 100%;
	left: 15px;
	width: calc(100% - 30px);
}
.search_tabs
{
	height: 94px;
}
.search_tab */
/* {
	font-size: 14px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	text-align: center;
	height: 100%;
	flex-grow: 1;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab img
{
	margin-right: 10px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab:first-child
{
	border-top-left-radius: 94px;
	padding-left: 7px;
}
.search_tab:last-child
{
	border-top-right-radius: 94px;
	padding-right: 7px;
}
.search_tab.active
{
	background: #fa9e1b;
	color: #FFFFFF;
}
.search_tab.active img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_tab:hover
{
	background: #fa9e1b;
	color: #FFFFFF;
}
.search_tab:hover img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.search_panel.active
{
	display: flex!important;
} */
/* Fade in tabs
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.search_panel_content
{
	width: 100%;
	height: 100%;
}
.search_input
{
	width: 100%;
	height: 46px;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
	font-weight: 600;
	color: #929191;
}
.search_item:first-child
{
	width: 30.453%;
}
.search_item:nth-child(2)
{
	width: 13.961%;
}
.search_item:nth-child(3)
{
	width: 13.961%;
}
.search_item:nth-child(4)
{
	width: 9.947%;
}
.search_item:nth-child(5)
{
	width: 9.947%;
}
.search_item div
{
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/dropdown.png);
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.dropdown_item_select:hover
{
	border: solid 1px #fa9e1c;
}
.dropdown_item_select:focus
{
	outline-color: #fa9e1c;
}
.search_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	background: #31124b;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	cursor: pointer;
}
.search_button:hover */
/* {
	opacity: 0.8;
} */



/* media queries */





/* carousel */

.carousel{
	height: 100%;
	width: 100%;
}

.myicon i {
	color: white;
	background-color: var(--nav2);
	border-radius: 50%;
height: 50px;
width: 50px;
padding-top: 10px;
}


.herosection{
	height: 100%;
	width: 100%;
}

.herohead, .heropara {
	color: white !important;
}

/* booking */



.booking{
	background: linear-gradient(135deg, #1A1A1A, #2D3436);
	
	font-weight: bold;
	
}

.myinput{
	padding: 12px 15px;
	width: 250px;
	border: none;
}

.myform label {  
color: white;
}




/* Service section */

.services{
	padding: 70px 0px;
}

.card-footer{
	border: none;
	background-color: white;
}

.card{
	border: none;
	border-radius: 0px;
}

.mybtn{
	padding: 12px 20px;
	border: none;
	color: white;
	background-color: black;
	border-radius: 5px;
	font-weight: bold;
font-size: 13px;
}

.card-title{
	font-size: 25px;
	font-weight: bold;
}
.serviceHead1{
	color: black;
	font-size: 50px;
	margin-bottom: 45px;
}
.serviceHead2{
	color: var(--btn);
	font-weight: bold;
}


.custom-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: none;
 background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
}

.custom-btn i {
    color: white;
    font-size: 18px;
}

.carousel-control-prev2 {
    left: -30px;
}

.carousel-control-next2 {
    right: -30px;
}

/* Card styling */
.card img {
    height: 200px;
    object-fit: cover;
}



/* apart section */
.setUp{
	padding: 30px 0px 50px 0px;
	background-color: #F5F5F5;
}

.mycontainer{
	
	border-bottom: rgb(187, 186, 186) 2px solid;
	padding-bottom: 40px;
}

.apartHead1{
	color: black;
	font-size: 50px;
}
.apartHead2{
	color: var(--btn);
	font-weight: bold;
}

.aparthead{
	font-weight: bold;
	font-size: 25px;
	color: var(--head);

}

.apartpara{
	font-size: 13px;
}


.icon i{
	
/* background-color: var(--icon);
color: white;
/* height: 50px;
width: 50px; */
/* border-radius: 50%;
padding: 10px; */ 
background-color: var(--icon);
color: white;
padding: 10px;
border-radius: 50%;
width: 70px;
height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.icon{
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-1{
	border-radius: 15px;
}

.apart-cards{
	
	grid-template-columns: 1fr 1fr 1fr;
}
/* Drive section */
.drive{
	padding-top: 40px;
}


.driveImg{
	 background:
linear-gradient(135deg, rgba(35,37,38,0.6), rgba(65,67,69,0.6)), url("./assets/1-Mercedes-A-Class.jpg");
	background-size: cover;
		height: 800px;
		background-repeat: no-repeat;
		background-position: right;

}

.drivehead{
	font-weight: bold;
	font-size: 50px;
	color: white;
}

.driveContent{
	width: 35%;
	padding-top: 120px;
	padding-left: 70px;
}

.drivePara{
	font-size: 20px;
	margin-bottom: 30px;
}


/* .drivebtn button{
padding: 14px 50px;
	border: none;
	color: white;
	background-color: var(--btn);
	border-radius: 25px;
	font-weight: bold;
font-size: 17px;
} */

/* about section */

.drivehead {
	color: white;
	font-size: 40px;
	font-weight: bold;
}

.About{
	background-color: #F5F5F5;
	margin-top: 50px;
}

/* Contact Form */

.contact
{
	width: 100%;
	
    margin-bottom: 120px ;
    margin-top: 70px;


	
}
.contact_background
{
	position: absolute;
	bottom: -34px;
	left: 0;
	width: 100%;
	height: 104%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.contact_title
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.contact_form_container
{
	margin-top: 40px;
	padding-top: 74px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 88px;
	background: linear-gradient(to top right, #6D6027, #D3CBB8);
}
.contact_form
{
	margin-top: 52px;
	font-size: 0px;
}
.input_field
{
	height: 48px;
	font-size: 12px;
	font-weight: 400;
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
}
.contact_form_name
{
	width: calc((100% - 30px) / 2);
	margin-right: 30px;
}
.contact_form_email
{
	width: calc((100% - 30px) / 2);
}
.contact_form_subject
{
	width: 100%;
	margin-top: 11px;
}
.contact_form_message
{
	height: 126px;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 19px;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
	padding-top: 11px;
}
.form_submit_button
{
	border-radius: 5px;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 29px;
	padding-right: 29px;
	background: black;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	margin-top: 37px;
	cursor: pointer;
}
.form_submit_button:hover
{
	opacity: 0.8;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}




/* footer */


.footer{
	background-color: var(--nav1);
	color: white;
	font-size: 12px;
	padding-top: 50px;
	/* padding-bottom: 25px; */

}
.footContainer{
	border-bottom: 1px solid rgb(216, 213, 213);
}

.footHead h5{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.footContent li{
	margin-bottom:8px ;
}
.footContent li:hover{
opacity: 0.8;
}

.footer2{
	background-color: var(--nav1);

	font-size: 12px;
}

.footer2 p{
	color: white;
}


/* medai screens */
/* @media (max-width: 998px) {

	.myform{
		display: flex;
		flex-direction: column;
	}
	
} */

.footIcon i{
	font-size: 18px;
}


@media (max-width:996px) {
    .nav-link:hover{
    border-bottom: none;
    color: grey!important;
  }
  
}




@media (max-width: 768px) {
  .hero-section {
    height: 60vh;
    min-height: 350px;
  }

  .drivehead{
	font-size: 40px;

  }
  .drivePara{
	font-size: 15px;
  }
  .drivebtn button{
	padding: 10px 30px;
	border-radius: 15px;
	font-size: 15px;
  }
  .driveContent{
	width: 100%;
	justify-content: end !important;
 padding-bottom: 20px;
 padding: 20px;
  }

  .footSec1,.footSec2,.footSec3{
	border-bottom: 1px solid grey;
	
  }

  
.apart-cards{
	
	grid-template-columns: 1fr 1fr!important;
}

  
}


@media (min-width:768px) and (max-width: 992px) {
	.driveContent{
		width: 50%;
	}
	
}
@media (min-width: 768px) and (max-width:1300px) {

	.herosection{
		height: 98vh !important;
	}
	.carousel-image{
		height: 900px !important;
	}
	
}

@media (max-width:768px) { 
	.main{
		width: 100% !important;
	}

	.myinput {
		width: 100%;
	}
	
}

@media (max-width:576px) {

	.social_list{
		display: none;
	}
	.apart-cards{
	
	grid-template-columns: 1fr !important;
}

}